body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.form-container {
    flex: 1;
    padding-right: 30px;
}

.form-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.form-container input[type="text"]:focus,
.form-container input[type="email"]:focus,
.form-container input[type="password"]:focus {
    border-color: #4CAF50;
}

.form-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form-container button:hover {
    background-color: #45a049;
}

.description {
    flex: 1;
    padding-left: 30px;
    background-image: url("main.895e290b399e.jpg");
    background-size: cover; /* Ensures the background image covers the entire container */
    background-position: center; /* Centers the background image within the container */
    color: #fff; /* Set text color to white for better visibility */
}


.description h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff;
}

.description p {
    font-size: 16px;
    color: #ffffff;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}