{% extends 'base.html' %}
{% block title %}404{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>404 This page is not available cause you haven't finish creating your profile at  <a href="{% url 'user_profile' %}">profile</a>  </h1>
                <p>please finish ceating your <a href="{% url 'user_profile' %}">profile</a> then come back and view your orders </p>
            </div>
        </div>
    </div>
{% endblock %}