{% extends 'base.html' %}
{% load static %}
{% block title %}About Us{% endblock %}

{% block content %}
<div class="container">
    <h1>About Cemi Shop</h1>
    <p>Cemi Shop is an innovative online selling platform designed to provide users with a seamless shopping experience. As an e-commerce destination, Cemi Shop offers a wide range of products spanning various categories, catering to the diverse needs and preferences of its customers.</p>
    
    <p>One of the standout features of Cemi Shop is its commitment to customer satisfaction. With a user-centric approach, Cemi Shop ensures that every step of the shopping journey is convenient and rewarding. To enhance the shopping experience, Cemi Shop offers free shipping on all purchases, allowing customers to enjoy their favorite products without worrying about additional costs.</p>
    
    <p>Furthermore, Cemi Shop takes pride in the quality of its products and the trust it builds with its customers. Understanding that sometimes products may not meet expectations or may arrive damaged, Cemi Shop offers a hassle-free return policy. Customers can easily return products that do not meet their satisfaction, ensuring that they always receive the best value for their money.</p>
    
    <p>In essence, Cemi Shop is not just an online marketplace; it's a reliable partner in helping customers discover and purchase products they love, with the assurance of excellent service, free shipping, and hassle-free returns. With Cemi Shop, shopping becomes more than just a transaction; it becomes an enjoyable and fulfilling experience.</p>
    
    <h2>Contact Us</h2>
    <ul class="contact-list">
        <li><a href="https://www.linkedin.com/in/milugogeofrey/"><img src="{% static 'linkedin.png' %}" alt="LinkedIn"> Milugo Geofrey</a></li>
        <li><a href="https://www.linkedin.com/in/celestinekibor/"><img src="{% static 'linkedin.png' %}" alt="LinkedIn"> Celestine Kibor</a></li>
        <li><a href="https://twitter.com/milugogeofrey"><img src="{% static 'twitter.png' %}" alt="Twitter"> @milugogeofrey</a></li>
        <li><a href="https://twitter.com/celestinekibor"><img src="{% static 'twitter.png' %}" alt="Twitter"> @celestinekibor</a></li>
        <li><a href="https://github.com/milugogeofrey"><img src="{% static 'github.png' %}" alt="GitHub"> Milugo Geofrey</a></li>
        <li><a href="https://github.com/celestinekibor"><img src="{% static 'github.png' %}" alt="GitHub"> Celestine Kibor</a></li>
    </ul>
</div>
{% endblock %}
