{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <header>
        <h1>{% block heading %}{% endblock %}</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
               
                <li><a href="#"><img src="{% static 'cart.png' %}" alt="Shopping Cart"></a></li>
                {% for users in user_page %}
                <li><a href='#'>balance ${{ users.balance }}</a></li>
                <li><a href='#'> {{ users.name }} </a></li>
                {% endfor %}
        </ul>
    </nav>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        <p>&copy; {% now "Y" %} Your Store. All rights reserved.</p>
    </footer>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
