{% extends 'base.html' %}
{% load static %}
{% block title %}Checkout{% endblock %}
{% block heading %}Checkout payment{% endblock %}
{% block content %}
<h1>Thank you, your order has been received. please check your email to confirm order and select payment method below to complete this order</h1>
<p>Pay with PayPal, Bank account or Mpesa</p>
<p> Below is your summary for your payment</p>
    {% if cart %}
        <h1 style="color: green;"><p class="cart-summary">Total to pay: ksh {{ total_price }}</p></h1>
    {% endif %}
<div id="paypal-button-container"></div>
<script src="https://www.paypal.com/sdk/js?client-id=AaZeiymEeB2HZVUEaFgw7xIJl3690YRxZdL4GxgFvUn-fgL99DiB4jeEZ9Ve0gCYLSLiiuEstdwQhVui&currency=USD" data-sdk-integration-source="button-factory"></script>
<script>
    paypal.Buttons({
        createOrder: function(data, actions) {
            // Set up the transaction details
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '{{ total_price }}' // Total amount to be charged
                    }
                }]
            });
        },
        onApprove: function(data, actions) {
            // Capture the payment when the customer approves the transaction
            return actions.order.capture().then(function(details) {
                // Redirect to a success page or show a success message
                window.location.href = "{% url 'success' %}";
            });
        }
    }).render('#paypal-button-container');
    function createMpesaOrder() {
        // Call your M-Pesa API to create an order
        // Replace this with your actual API call once you have access to the M-Pesa API
        alert('M-Pesa payment method will be available soon.');
    }

    var mpesaButton = document.createElement('button');
    mpesaButton.innerText = 'Pay with M-Pesa';
    mpesaButton.addEventListener('click', createMpesaOrder);
    document.getElementById('mpesa-button-container').appendChild(mpesaButton);

</script>
<h2>Mpesa method</h2>
<ol style="color: green;" >
    <li>go to Mpesa</li>
    <li> send money</li>
    <li>enter 0112155880 as the receiving account</li>
    {% if cart %}
        <li style="color: green;" class="cart-summary">Enter your total amount to pay: ksh {{ total_price }}</li>
    {% endif %}
    <li>Enter mpesa PIN</li>
    <li>please confirm detils that the "milugo geofrey" is the receiving account</li>
    <li>Confirm send</li>
    <li><b>Please forward the mpesa transaction message to both <a href="geofreymilugo@gmail.com">geofreymilugo@gmail.com</a> and <a href="https://wa.me/254738550728">whatsapp</a> with both fullname and time of payment</b></li>
</ol>
<br><br>
    <p>Incase of errors during your payment please reach us through <a href="geofreymilugo@gmail.com">gmail</a> or <a href="https://wa.me/254738550728">whatsapp</a> </p>
<h1> THANK YOU FOR BEING A VALUED MEMBER OF CEMI</h1>



{% endblock %}
