{% extends 'base.html' %}
{% load static %}
{% block title %}About Us{% endblock %}
{% block heading %}Developer contact {% endblock %}
{% block content %}
<div class="container">
    <h1>About Cemi Shop</h1>
    <p>Cemi Shop has been built by Milugo Geofrey (Backend Developer) and Celestine Kibor (Frontend Developer), two students at Maseno University and currently on month 12 of their software engineering journey at ALX.</p>
    <p>They are passionate about creating innovative solutions and are committed to providing a seamless shopping experience for their users.</p>
    <h2>Contact Us</h2>
    <ul class="contact-list">
        <li><a href="https://www.linkedin.com/in/milugogeofrey/"><img src="{% static 'linkedin.png' %}" alt="LinkedIn"> Milugo Geofrey</a></li>
        <li><a href="https://www.linkedin.com/in/celestinekibor/"><img src="{% static 'linkedin.png' %}" alt="LinkedIn"> Celestine Kibor</a></li>
        <li><a href="https://twitter.com/milugogeofrey"><img src="{% static 'twitter.png' %}" alt="Twitter"> @milugogeofrey</a></li>
        <li><a href="https://twitter.com/celestinekibor"><img src="{% static 'twitter.png' %}" alt="Twitter"> @celestinekibor</a></li>
        <li><a href="https://github.com/milugogeofrey"><img src="{% static 'github.png' %}" alt="GitHub"> Milugo Geofrey</a></li>
        <li><a href="https://github.com/celestinekibor"><img src="{% static 'github.png' %}" alt="GitHub"> Celestine Kibor</a></li>
    </ul>
</div>
{% endblock %}
