
{% extends 'base.html' %}
{% load static %}
{% block title %}Details - Your Store {% endblock %}
{% block heading %}Product Details{% endblock %}

{% block content %}
<div class="product-details">
    <img src="{{ item.images.url }}" alt="{{ item.name }}">
    <h2>{{ item.name }}</h2>
    <p>{{ item.description }}</p>
    <p class="price">ksh. {{ item.price }}</p>
    <form method="post" action="{% url 'add_to_cart' item.id %}">
        {% csrf_token %}
        <input type="hidden" name="item_id" value="{{ item.id }}">
        <button type="submit" class="btn">Add to Cart</button>
    </form>
</div>
{% endblock %}