
{% extends 'base.html' %}
{% load static %}
{% block title %}Details - Your Store {% endblock %}
{% block heading %}Product Details{% endblock %}

{% block content %}
<div class="product-details">
    <img src="{{ item.images.url }}" alt="{{ item.name }}">
    <h2>{{ item.name }}</h2>
    <p>{{ item.description }}</p>
    <p class="price">ksh. {{ item.price }}</p>
    <form method="post" action="{% url 'add_to_cart' item.id %}">
        {% csrf_token %}
        <input type="hidden" name="item_id" value="{{ item.id }}">
        <button type="submit" class="btn bg-dark-subtle">Add to Cart</button>
    </form>
    
</div>
<!-- User Reviews Section -->
<div class="user-reviews">
    <h3>User Reviews</h3>
    {% if reviews %}
        <ol>
            {% for review in reviews %}
                <li>
                    <p>{{ review.content }} Rating: {{ review.rating }}</p>
                    
                    <!-- Add more details about the review if needed -->
                </li>
            {% endfor %}
        </ol>
    {% else %}
        <p>No reviews available for this item.</p>
    {% endif %}
</div>

<!-- Review Form Section -->
<div class="review-form">
    <h3>Add Your Review</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn bg-dark-subtle">Submit Review</button>
    </form>
</div>

{% endblock %}