{% extends 'main.html' %}
{% block title %}User Login{% endblock %}
{% block heading %}Welcome{% endblock %}
{% block content %}
<div class="container">
    <div class="form-container">
        <h1>Login to cemi shop </h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" id="login-btn">Login</button>
        </form>
        <br><br>
        <p> Don't have an account?<a href="{% url 'user_register' %}"> Register</a></p>
    </div>
    <div class="description">
        <h2>Continue Shopping</h2>
        <p>Log in to access your account and explore our latest offers.</p>
    </div>
    
</div>
{% endblock %}

