
{% extends 'base.html' %}
{% load static %}
{% block title %}cemi shop{% endblock %}
{% block heading %} Cemi shop {% endblock %}

{% block content %}
{% for users in user_page %}
<h2>Hello {{ users.name }} view all availables items in our store </h2>
{% endfor %}
<form action="#" method="GET">
    <input type="search" name="q" placeholder="Search for items" width="100%" style="margin-left: 0%;">
    <button type="submit bg-dark" class="btn bg-dark-subtle">Search</button>
</form>
<nav>

    <section class="products">
        {% for item in items_page %}
        <div class="product">
            {% if item.sold %}
            <span class="item-tag">{{ item.sold }}</span>
            {% endif %}
            <img src="{{ item.images.url }}" height="200px" width="200px" alt="{{ item.name }}">
            <p class="badge bg-dark">{{ item.short_description }}</p>
            <p>{{ item.name }}</p>
            <p class="price">ksh. {{ item.price }}</p>
            <a href="{% url 'details' item.id %}" class="btn bg-dark-subtle">View Item</a>
        </div>
        {% endfor %}
    </section>
{% endblock %}
