
{% extends 'base.html' %}
{% load static %}
{% block title %}cemi shop{% endblock %}
{% block heading %} Cemi shop {% endblock %}

{% block content %}
<h2>View and search items in our store</h2>
<form action="#" method="GET">
    <input type="search" name="q" placeholder="Search for items" width="100%" style="margin-left: 0%;">
    <button type="submit bg-dark" class="btn bg-dark-subtle">Search</button>
</form>
<div class="marquee-container">
    <div class="marquee">
        {% for item in items_page %}
            <img src="{{ item.images.url }}" height="200px" width="200px" alt="{{ item.name }}">
        {% endfor %}
    </div>
</div>
<nav>

    <section class="products">
        
        {% for item in items_page %}
        <div class="product">
            {% if item.sold %}
        
            <span class="item-tag">{{ item.sold }}</span>
            {% endif %}
            <img src="{{ item.images.url }}" height="200px" width="200px" alt="{{ item.name }}">
            
            <p>{{ item.name }}</p>
            <s style="color: red;">Was: ksh {{ item.discount }} </s>
            <p class="price">ksh. {{ item.price }}</p>
            <a href="{% url 'details' item.id %}" class="btn bg-dark-subtle">View Item</a>
        </div>
        {% endfor %}
    </section>
{% endblock %}
